<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="footer">
        <div class=".text-muted">
            Version: <span th:text="#{project.version}"></span> &nbsp;( <span
                th:text="${T(com.github.fwalk.registryui.main.Common).prettyTime('__#{org.label-schema.build-date}__')}"></span>, <span
                th:text="#{org.label-schema.vcs-ref}"></span> )
        </div>
    </div>
</body>
</html>

