<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="header">

        <nav class="navbar navbar-light navbar-expand-sm bg-light">
            <div class="container">
                <a class="navbar-brand" href="/" th:href="@{/}" th:text="#{application.title}"> title </a>

                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" target="_blank" href="http://about.example.com"
                        th:href="#{application.about}"><i class="fas fa-info-circle fa-lg"></i></a></li>
                </ul>

            </div>
        </nav>
    </div>

</body>
</html>
