<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
    <th:block layout:fragment="content">

        <div class="container">
            <div class="alert alert-danger" role="alert">
                <strong>Something unexpected happens</strong>, details:
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td th:text="${timestamp}" />
                    </tr>
                    <tr>
                        <td>Path</td>
                        <td th:text="${path}" />
                    </tr>
                    <tr>
                        <td>Error</td>
                        <td th:text="${error}" />
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td th:text="${status}" />
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td th:text="${message}" />
                    </tr>
                    <tr>
                        <td>Exception</td>
                        <td th:text="${exception}" />
                    </tr>
                    <tr>
                        <td>Trace</td>
                        <td><pre th:text="${trace}" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </th:block>

</body>

</html>
