<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
    <th:block layout:fragment="content">
        <div class="container">

            <ol class="breadcrumb">
                <li><a th:href="@{'/'}"><i class="fas fa-home fa-lg" title="Home"></i></a></li>
            </ol>

            <table id="datatable" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Image</th>
                        <th>IP Address</th>
                        <th>User</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${events}">
                        <td><span th:text="${event.getAction()}">Action</span></td>
                        <td><span th:text="${event.getRepository() + ':' + event.getTag()}">Image</span></td>
                        <td><span th:text="${event.getIpAddress()}">IpAddress</span></td>
                        <td><span th:text="${event.getUser()}">User</span></td>
                        <td th:text="${T(com.github.fwalk.registryui.main.Common).prettyTime(event.getCreated())}">Created</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script th:inline="javascript">
/*<![CDATA[*/

$('#datatable').DataTable({
	"pagingType": 'full_numbers',
	"bFilter": true,
    "pageLength": 25,
    "stateSave": true,
    "language": {
        "emptyTable": "No events recorded.",
        "search": '<i class="fa fa-search fa-lg" aria-hidden="true" title="Search"></i>',
        "searchPlaceholder": 'Search',
        "oPaginate": {
            "sNext": '<i class="fa fa-forward"></i>',
            "sPrevious": '<i class="fa fa-backward"></i>',
            "sFirst": '<i class="fa fa-step-backward"></i>',
            "sLast": '<i class="fa fa-step-forward"></i>' 
        }
    }
});

/*]]>*/
</script>

    </th:block>

</body>

</html>
