<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
    <th:block layout:fragment="content">
        <div class="container">
            <h3 th:text="#{title.application}"></h3>
        </div>
    </th:block>
</body>

</html>
