<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
    <th:block layout:fragment="content">
        <div class="container">

            <div style="float: right">
                <select th:field="${namespaces}" id="selectNamespace" class="form-control input-sm" style="height: 36px">
                    <option th:each="item : ${namespaces}" th:value="${item}" th:text="${item}"></option>
                </select>
            </div>

            <div style="float: right">
                <ol class="breadcrumb">
                    <li class="active">Namespace</li>
                </ol>
            </div>

            <ol class="breadcrumb">
                <li><a th:href="@{'/'}"><i class="fas fa-home fa-lg" title="Home"></i></a><span>&nbsp;&nbsp;</span><a th:href="@{'/events'}"><i class="fab fa-elementor fa-lg" title="Event Log"></i></a></li>
            </ol>

            <table id="datatable" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Repository</th>
                        <th width="20%">Tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="repository : ${repositories}">
                        <td><a th:href="@{'/ns/' + ${namespace} + '/' + ${repository}}" th:text="${repository}">
                                repository-name </a></td>
                        <td><span th:text="${tagCounts.get(namespace + '/' + repository)}"> tag-count </span></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script th:inline="javascript">
/*<![CDATA[*/

var contextpath = /*[[${contextpath}]]*/;
var namespace = /*[[${namespace}]]*/;
var msg_empty = "<div class='alert alert-primary' role='alert'><strong>No repositories in namespace: " + namespace + "</strong>, please upload images ...</div>"

$(document).ready(function() {
    $('#selectNamespace').on('change', function (e) {
        window.location = contextpath + "/ns/" + this.value;
    });
});

$('#datatable').DataTable({
	"pagingType": 'full_numbers',
	"bFilter": true,
    "pageLength": 25,
    "stateSave": true,
    "language": {
        "emptyTable": msg_empty,
        "search": '<i class="fa fa-search fa-lg" aria-hidden="true" title="Search"></i>',
        "searchPlaceholder": 'Search',
        "oPaginate": {
            "sNext": '<i class="fa fa-forward"></i>',
            "sPrevious": '<i class="fa fa-backward"></i>',
            "sFirst": '<i class="fa fa-step-backward"></i>',
            "sLast": '<i class="fa fa-step-forward"></i>' 
        }
    }
});

/*]]>*/
</script>

    </th:block>

</body>

</html>
