<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
    <th:block layout:fragment="content">
        <div class="container">

            <ol class="breadcrumb">
                <li><a th:href="@{'/'}"><i class="fas fa-home fa-lg" title="Home"></i></a>&nbsp;/&nbsp;</li>
                <li th:if="${namespace != 'library'}"><a th:href="@{'/ns/' + ${namespace}}" th:text="${namespace}"></a>&nbsp;/&nbsp;</li>
                <li><a th:href="@{'/ns/' + ${namespace} + '/' + ${repo}}" th:text="${repo}"></a>&nbsp;/&nbsp;</li>
                <li th:text="${tag}"></li>
            </ol>

            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th colspan="2">Image Details</th>
                    </tr>
                </thead>
                <tr>
                    <td width="20%">Image</td>
                    <td th:text="${registry_host + '/' + details.getRepoPath() + '/' + details.getTag()}">registryHost / repoPath : tag
                    </td>
                </tr>
                <tr>
                    <td>sha256</td>
                    <td th:text="${sha256}">sha256</td>
                </tr>
                <tr>
                    <td>Created On</td>
                    <td th:text="${T(com.github.fwalk.registryui.main.Common).prettyTime(details.getCreated())}">created</td>
                </tr>
                <tr>
                    <td>Image Size</td>
                    <td th:text="${T(com.github.fwalk.registryui.main.Common).prettySize(details.getImageSize())}">imageSize</td>
                </tr>
                <tr>
                    <td>Layer Count</td>
                    <td th:text="${details.getLaversCount()}">layersCount</td>
                </tr>
            </table>

            <h4>Manifest v2</h4>
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Layer #</th>
                        <th>Digest</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tr th:each="layer,i : ${v2Layers}">
                    <td th:text="${i.size - i.index}">index</td>
                    <td th:text="${layer.get('digest')}">digest</td>
                    <td th:text="${T(com.github.fwalk.registryui.main.Common).prettySize(layer.get('size'))}">size</td>
                </tr>
            </table>

            <h4>Manifest v1</h4>
            <table class="table table-striped table-bordered table-sm" th:each="layer,i : ${v1Layers}">
                <thead>
                    <tr>
                        <th colspan="2" th:text="${'Layer #' + (i.size - i.index)}">Layer #</th>
                    </tr>
                </thead>
                <tr th:each="entry : ${layer}">
                    <td width="20%" th:text="${entry.key}">key</td>
                    <th:block th:switch="${entry.key}">
                        <td style="padding: 0" th:case="'config'" th:include="tag_info_innertable">table with map</td>
                        <td style="padding: 0" th:case="'container_config'" th:include="tag_info_innertable">table with map</td>
                        <td th:case="'created'" th:text="${T(com.github.fwalk.registryui.main.Common).prettyTime(entry.value)}">layer[key]</td>
                        <td th:case="*" th:text="${entry.value}">layer[key]</td>
                    </th:block>
                </tr>
            </table>

        </div>

    </th:block>

</body>

</html>
