<table class="table table-bordered" style="padding: 0; width: 100%; margin-bottom: 0; min-height: 37px">
    <tr th:each="m : ${entry.value}">
        <td th:text="${m.key}">key</td>
        <td th:text="${m.value}">value</td>
    </tr>
</table>