<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Registry-UI</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="http://cdn.jsdelivr.net/webjars/font-awesome/5.12.0/css/all.min.css" th:href="@{/webjars/font-awesome/5.12.0/css/all.min.css}" rel="stylesheet" media="screen" />
<link href="../../static/css/application.css" th:href="@{/resources/css/application.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
</head>

<body>

    <wrapper class="d-flex flex-column">

    <div th:replace="fragments/header :: header">
        <p>Header content goes here...</p>
    </div>

    <main class="container-fluid py-3 flex-fill">

    <div layout:fragment="content">
        <p>Body content goes here...</p>
    </div>
    </main> <footer class="container-fluid w-100 bg-light py-3 text-muted">
        <div class="container">
            <div th:replace="fragments/footer :: footer">
                <p>Footer content goes here...</p>
            </div>
        </div>
    </footer> </wrapper>

</body>

</html>
