body, wrapper {
    min-height: 100vh;
}

h4 {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: normal !important;
}

* {
    font-size: 0.95rem;
}

thead {
    background-color: #e6e6e6;
}

th {
    font-weight: normal !important;
}

.fa, .fab, .fas {
	color: #2874a6;
}
